*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#C9E165 ;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    align-items: center;
}
#container{
    display:flex;
    align-items: center;
   justify-content:center;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: auto;
}
#container input{
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid #009929;
    border-radius: 5px;
}
#container textarea{
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid #009929;
    border-radius: 5px;
}
#container .btn-success{
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: none;
    border: 2px solid #009929;
    border-radius: 32px;
    color: black;
    outline: none;
    font-weight: 700;
}

img{
    width: 405px;
    margin:none;
   padding: none; 
}

#mostrarLivros{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#mostrarLivros h3{
    font-size: 4rem;
    background-color: #C9E165;
    padding: 50px;
    margin: 0;
}

#tabela{
    background-color: white;
    border-radius: 5px;
    padding: 12px;
}
#tabela th{
    margin: 1rem;
    padding: 1rem;
    border-right: 1px solid #009929;
}
#tabela td{
   text-align: center;
    margin: 1rem;
    padding: 1rem;
    border-right: 1px solid #009929;
    border-top: 1px solid #009929 ;
    font-size: 1.5rem;
    font-weight: 500;
}
#tabela td:last-child{
    border-right: none;
}
#buscarLivro{
    font-size: 1.7rem;

}
#buscarLivro input{
    width: 300px;
    height: 35px;
    font-size: 1.5rem;
    outline: none;
    border: 2px solid #009929;
    padding: 0 0.5rem;
    border-radius: 5px;
    margin-bottom: 30px;
}
.nomeador{
    text-align: center;
}
#visualizar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    background-color: white;
    padding: 2rem;
    border-radius: 2rem;
    margin: auto;
}
.clas{
    margin: 0;
    font-weight: 700;
}